<section class="directions">
  <div class="container">
    <div class="directions__wrap">
      <div class="directions__top">
        <h2>Наши направления деятельности</h2>

        <p>
          Turbo Trans придерживается политики наилучшего обслуживания
          и работает с целью полной удовлетворённости клиентов.
        </p>
      </div>

      <ul class="directions__list">
        <li class="directions__listItem">
          <div class="directions__listHeader">
            <h3>Транспорт</h3>

            <img
              src="img/icons/arrowR.svg"
              alt=""
              class="directions__listArrow"
            />
          </div>

          <div class="directions__content">
            <p>
              Планирование и контроль финансовых потоков,
              обеспечивающих стабильность и эффективность
              логистических операций.
            </p>
          </div>
        </li>

        <li class="directions__listItem">
          <div class="directions__listHeader">
            <h3>Таможенное оформление</h3>

            <img
              src="img/icons/arrowR.svg"
              alt=""
              class="directions__listArrow"
            />
          </div>

          <div class="directions__content">
            <p>
              Подготовка документов и сопровождение грузов
              при прохождении таможенных процедур.
            </p>
          </div>
        </li>

        <li class="directions__listItem">
          <div class="directions__listHeader">
            <h3>Управление финансами</h3>

            <img
              src="img/icons/arrowR.svg"
              alt=""
              class="directions__listArrow"
            />
          </div>

          <div class="directions__content">
            <p>
              Контроль финансовых потоков и оптимизация
              затрат на логистические процессы.
            </p>
          </div>
        </li>

        <li class="directions__listItem">
          <div class="directions__listHeader">
            <h3>Внешнеторговый консалтинг</h3>

            <img
              src="img/icons/arrowR.svg"
              alt=""
              class="directions__listArrow"
            />
          </div>

          <div class="directions__content">
            <p>
              Консультации по международной торговле,
              поставкам и логистике.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>