<section class="infiniteString">
    <div class="infiniteString__sliderContainer">
      <div class="infiniteString__infiniteSlider" id="infiniteSlider">
        <div class="infiniteString__sliderItem"><img src="img/main-services/sponsor1.png" alt="sponsor"></div>
        <div class="infiniteString__sliderItem"><img src="img/main-services/sponsor2.png" alt="sponsor"></div>
        <div class="infiniteString__sliderItem"><img src="img/main-services/sponsor3.png" alt="sponsor"></div>
        <div class="infiniteString__sliderItem"><img src="img/main-services/sponsor4.png" alt="sponsor"></div>
        <div class="infiniteString__sliderItem"><img src="img/main-services/sponsor5.png" alt="sponsor"></div>
      </div>
    </section>