$font-family: "Readex Pro", sans-serif;
$second-family: "Toxigenesis", sans-serif;
$white: #ffffff;
$black: #000000;
$dark_blue: #061c35;
$gray: #666363;
$light_gray: #E9E9E9;
$sl_blue: #d5e4f2;

:root {
  --content-width: 1666px;
  --container-offset: 20px;
  --container-width: var(--content-width);
  --font-family: $font-family;
  --second-family: $second-family;
}